@use '../../styles' as *;

#puzzle {
  @include mixins-viewArea;
  
  .puzzle-row {
    height: calc(100%/3);
  }
  
  .puzzle-piece {
    display: inline-block;
    width: 25%;
    height: 100%;
    outline: 4px solid black;
    outline-offset: -2px;
    background-size: cover;
    z-index: 1;
    position: relative;
  }

  .puzzle-position {
    position: relative;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    color: white;
    background: none;
    font-size: 40px;
  }
}

.video {
  @include mixins-viewArea;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}