@use '../../styles' as *;

#puzzle {
  @include mixins-viewArea;
  animation: fadein 2s;

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  #help {
    color: white;
    position: absolute;
    left: 0;
    top: 7px;

    .help--image {
      background: none;
      width: 20px;
      border: 1px solid #aaa;
      border-radius: 90px;
    }
  }

  .puzzle-row {
    height: calc(100%/3);
  }

  .puzzle-piece {
    display: inline-block;
    width: 25%;
    height: 100%;
    outline: 2px solid black;
    outline-offset: -1px;
    background-size: cover;
    z-index: 1;
    position: relative;
  }

  .puzzle-position {
    position: relative;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    color: white;
    background: none;
    font-size: 40px;
  }
}

.video {
  @include mixins-viewArea;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@include mixins-breakPoint(tablet) {
  #puzzle {
    .puzzle-piece {
      outline: 4px solid black;
      outline-offset: -2px;
    }

    #help {
    color: white;
    position: absolute;
    left: 5px;
    top: 10px;

    .help--image {
      background: none;
      width: 25px;
      border: 1px solid #aaa;
      border-radius: 90px;
    }
  }
  }

}
