@use 'theme';
@mixin breakPoint ($point) {
	@if $point == mobile {
		@media (min-width: #{theme.$min-mobile}) {
				@content;
		}
	}

	@if $point == tablet {
		@media (min-width: #{theme.$min-tablet}) {
			@content;
		}
	}

	@if $point == desktop {
		@media (min-width: #{theme.$min-desktop}) {
			@content;
		}
	}
}

@mixin viewArea {
  height: calc(100vw * (9/16));
  width: calc(100vh * (16/9));
  max-width: 100vw;
  max-height: 100vh;
  border: 1px solid black;
  overflow: hidden;
  margin: 0;  
}