// Parameters
$min-mobile: 488px;
$min-tablet: 672px;
$min-desktop: 1024px;

$bg-color-1: #222 !default;
$bg-color-2: #333 !default;
$bg-color-3: #444 !default;
$font-color: #eee !default;
$link-color: #eee !default;
$active-link-color: #abf !default;

$font: 'Arial', monospace;

$footer-height: 25px;

$bold: 600;
$extra-bold: 800;
